:host {
  display: flex;
  width: 100%;
  flex-direction: column;
}

button {
  margin-right: 10px;
  background-color: white;
  color: #1976d2;


  span {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }
}

.button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;

  h2 {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }
}

.cart-item {
  padding: 12px;
}


