:host {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  color: #1976d2;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;

  h2 {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }
}

.cart-item {
  padding: 12px;
}
