$button-text-padding: 9px 15px 9px 15px;
$button-icon-padding: 9px;
$button-icon-primary-spinner-padding: $button-text-padding;
$button-border-radius: 3px;
$mat-icon-button-size: 24px;

button {
  -webkit-app-region: none;

  border: 1px solid transparent;
  border-radius: $button-border-radius;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  outline: 0;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  white-space: nowrap;
  padding: 8px 16px;

  &.icon-text {
    padding: 9px 18px 9px 15px;

    .mat-icon {
      margin-right: 6px;
    }
  }

  &.icon {
    padding: $button-icon-padding;
  }

  &.text {
    padding: $button-text-padding;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: .5;
  }

  &.primary-spinner {
    position: relative;

    .mat-icon:not(.hidden) {
      position: absolute;
      left: calc(50% - #{$mat-icon-button-size / 2} + 2px);
    }
  }

  &.spinner {
    width: $mat-icon-button-size;
    height: $mat-icon-button-size;
  }
}

button:hover:not(:disabled) {
  opacity: 0.8;
  font-weight: normal;
}
