.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  overflow: overflow-x;
  position: relative;
}

.equipment {
  display: flex;
  flex: 0.7;
  min-width: 500px;
  height: 100%;
}

.cart {
  display: flex;
  flex: 0.3;
  min-width: 300px;
  height: 100%;
}
