@import 'theme/button';
@import 'theme/spinner';

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  cursor: default;
}
